
<html>
    <head>
      <meta charset="utf-8">
      <title>Incidencialo</title>
      {% block css %} {% endblock %}
      <link rel="stylesheet" title="Pagina de inicio" href="./html/css/index.css" />
      <link rel="stylesheet" href="./html/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="./html/css/bootstrap.min.css" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link rel="icon" title="icono" href="./html/images/alarma.png" />
      
  
    </head>
  
    <body>
      <header class ="header">
          <div id="tituloizq">
            <img src="./html/images/boton.jpg" alt="Logo HTML5" height="100" width="100">
          </div>
          <div id="tituloder">
            <h1>Incidencialo</h1>
            <p>Reportes sobre incidencias de la comunidad</p>
          </div>
      </header>
      <nav>
        {% block menu%}
        
        {% endblock%}
      </nav>
      <div id="cuerpo">
          {% block lista %}

          {% endblock %}
        <main>
            {% block main %}
            
            {% endblock %}

          </main>
      
        <aside>
            <section>
            <article>
            <h3>Top Usuarios Comentando</h3>
            {% for i in Comentarios|slice(0, 3) %}
                <ul>
                  <li>{{i.getUsuario}}</li>
                </ul>

                {% endfor %}

            </article>
            <article>
              <h3>Top Usuarios Reportando Icidencias</h3>
              {% for i in Reportes|slice(0, 3) %}
                <ul>
                  <li>{{i.getUsuario}}</li>
                </ul>

                {% endfor %}

            </article>
            <article>
                <h3>Top Usuarios Votando</h3>
                {% for i in Votos|slice(0, 3) %}
                <ul>
                  <li>{{i.getUsuario}}</li>
                </ul>

                {% endfor %}
              </article>
          </section>
          </aside>
    </div>

    <footer>
      
        <section>
        <h3>Acerca de Nosotros</h3>
  
        <ul>
          <li>Elaborado por:</li>
            <ul>Manuel Ortiz Hita</ul>
            <ul>Carlijn Rolinde Viviane Bönnen</ul>
          <li>Documentacion</li>
          <form action="./GBD.php" class="posi" method="POST"> 
              <button type="submit" name="Pdf" class="btn btn-primary">Pdf</button>
      
          </form>
        </ul>
      </section>
    
      </footer>


    </body>
  </html>
  