{% extends "html/base.html" %}

{% block main %}

    <h2> Ups, parece que quieres acceder a una pagina sin acceso, Puedes intentarlo iniciando sesion con una cuenta con permisos: </h2>

    <form action="" class=Editar method="POST">
            <label class="sr-only" for="inlineFormInput">Usuario</label>
            <input type="text" name="user" class="form-control" id="inlineFormInput" placeholder="Usuario">
            <label class="sr-only" for="inlineFormInputGroup">Contraseña</label>
            <input type="text" name="Psw"  class="form-control" id="inlineFormInputGroup" placeholder="Contraseña">
            <button type="submit" name="Entrar" class="btn btn-primary mb-2">Entrar</button>
    </form>


{% endblock %}