{% extends "html/base.html" %}

{% block lista %}
<div id="list-example" class="list-group">
    <h2>Contenidos</h2>
    {% for n in nincidencia %}
    {% set numero = '# : n' %}
    <a class="list-group-item list-group-item-action" href= " {{ numero.href }} " >Item 1</a>
    {% endfor %}
    

  </div>
{% endblock %}
{% block main %}
<div class=titulo>
    <h2> Incidencias </h2>
  </div>

  {% for incidencia in incidencias %}
  <div class=contenido>
      
    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">

      
      <div id="list-item-1" class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ incidencia.getTitulo }}</h5>
              <p class="card-text"><small class="text-muted">Titulo: {{ incidencia.getLugar}}</small></p>
              <p class="card-text"><small class="text-muted">Palabras clave: {{ incidencia.getPalabras}}</small></p>
              <p class="card-text">Descripcion: {{ incidencia.getDescripcion}}</p>
              <p class="card-text"><small class="text-muted">{{ incidencia.getFecha}} by {{incidencia.getIdUsuario}}</small></p>
              <p class="card-text"><small class="text-muted"> Likes: {{ incidencia.getLikes}}</small></p>
              <p class="card-text"><small class="text-muted"> Dislikes: {{ incidencia.getDislikes}}</small></p>
              
            </div>
          </div>
        </div>
        <h4>Comentarios:</h4>
        {% for comentario in comentarios %}
        {% if  comentario.getidIncidencia == incidencia.getId  %}
        <p class="card-text"> {{ comentario.getComentario}}</p>
        <p class="card-text"><small class="text-muted">{{ comentario.getFecha}} by {{comentario.getidUsuario}}</small></p>
        {% endif %}
        {% endfor %}
        <form action="" class=Editar method="POST"> 
            <input  type="hidden" class="form-control"name=id value= {{incidencia.getId}} required>
            <button class="btn btn-primary" type="submit" name="Like">Like</button>
            <button class="btn btn-primary" type="submit" name="Dislike">Dislike</button>
            <button class="btn btn-primary" type="submit" name="Eliminar">Eliminar</button>
        </form>
        <form action="./editar.php" class=Editar method="POST" >
          <input  type="hidden" class="form-control"name=id value= {{incidencia.getId}} required>
            <button class="btn btn-primary" type="submit" name="Editar">Editar</button>
        </form>
        <form action="./comentar.php" class=Editar method="POST" >
          <input  type="hidden" class="form-control"name=id value= {{incidencia.getId}} required>
            <button class="btn btn-primary" type="submit" name="Comentario">Comentar</button>
        </form>
      </div>
    </div>
  </div>
        {% endfor %}

  
      

  {% endblock %}

  {% block menu %}
  

  {% if tipo == "Administrador" %}
  
  <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link active" href="./index.php">Ver Incidencias</a></li>
          <li class="nav-item"><a class="nav-link" href="./NIncidencia.php">Nueva Incidencia</a></li>
          <li class="nav-item"><a class="nav-link" href="./MIncidencia.php">Mis Incidencia</a></li>
          <li class="nav-item"><a class="nav-link" href="./GUsuario.php">Gestion de Usuario</a></li>
          <li class="nav-item"><a class="nav-link" href="./VLog.php">Ver Log</a></li>
          <li class="nav-item"><a class="nav-link" href="./GBD.php">Gestion de Base de Datos</a></li>
          <form form action="" class=Editar method="POST">
              <label class="sr-only"  for="inlineFormInput">Usuario</label>
              <input type="text" name="user" class="form-control" id="inlineFormInput" value={{user.getUsuario}}>
              <label class="sr-only"  for="inlineFormInputGroup">Contraseña</label>
              <input type="password" name="Psw" class="form-control" id="inlineFormInputGroup" value={{user.getPsw}}>
              <button type="submit" name="MUsuario" class="btn btn-primary mb-2">Editar</button>
              <button type="submit" name="Salir" class="btn btn-primary mb-2">Salir</button>

            </form>
  
      </ul>
    {%endif%}
    {% if tipo == "Colaborador" %}
  
  <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link active" href="./index.php">Ver Incidencias</a></li>
          <li class="nav-item"><a class="nav-link" href="./NIncidencia.php">Nueva Incidencia</a></li>
          <li class="nav-item"><a class="nav-link" href="./MIncidencia.php">Mis Incidencia</a></li>
          <form form action="" class=Editar method="POST">
            <label class="sr-only"  for="inlineFormInput">Usuario</label>
            <input type="text" name="user" class="form-control" id="inlineFormInput" value={{user.getUsuario}}>
            
            <label class="sr-only"  for="inlineFormInputGroup">Contraseña</label>
            <input type="password" name="Psw" class="form-control" id="inlineFormInputGroup" value={{user.getPsw}}>
            <button type="submit" name="MUsuario" class="btn btn-primary mb-2">Editar</button>
            <button type="submit" name="Salir" class="btn btn-primary mb-2">Salir</button>

          </form>
  
      </ul>
    {%endif%}


    {% if tipo != "Administrador" %}
      {% if tipo != "Colaborador" %}
    
      <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="./index.php">Ver Incidencias</a></li>
              <form form action="" class=Editar method="POST">
                  <label class="sr-only"  for="inlineFormInput">Usuario</label>
                  <input type="text" name="user" class="form-control" id="inlineFormInput" placeholder="Username">
                  <label class="sr-only"  for="inlineFormInputGroup">Contraseña</label>
                  <input type="text" name="Psw" class="form-control" id="inlineFormInputGroup" placeholder="Contraseña">
                  <button type="submit" name="Entrar" class="btn btn-primary mb-2">Entrar</button>
                  <button type="submit" name="Crear" class="btn btn-primary mb-2">Crear</button>
    
                </form>
      
          </ul>
      {%endif%}
    {%endif%}
    
      {% endblock %}
