{% extends "html/base.html" %}

{% block lista %}
<div id="list-example" class="list-group">
    <h2>Contenidos</h2>
    {% for n in nincidencia %}
    {% set numero = '# : n' %}
    <a class="list-group-item list-group-item-action" href= " {{ numero.href }} " >Item 1</a>
    {% endfor %}
    

  </div>
{% endblock %}
{% block main %}
<div class=titulo>
    <h2> Mis Incidencias </h2>
  </div>

  {% for incidencia in incidencias %}
  <div class=contenido>
      
    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">

      
      <div id="list-item-1" class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ incidencia.getTitulo }}</h5>
              <p class="card-text"><small class="text-muted">{{ incidencia.getLugar}}</small></p>
              <p class="card-text"> {{ incidencia.getDescripcion}}</p>
              <p class="card-text"><small class="text-muted">{{ incidencia.getFecha}} by {{incidencia.getIdUsuario}}</small></p>
              <p class="card-text"><small class="text-muted"> Likes: {{ incidencia.getLikes}}</small></p>
              <p class="card-text"><small class="text-muted"> Dislikes: {{ incidencia.getDislikes}}</small></p>
              <form action="" class=Editar method="POST"> 
                  <input  class="form-control"name=id value= {{incidencia.getId}} required>
                  <button class="btn btn-primary" type="submit" name="Like">Like</button>
                  <button class="btn btn-primary" type="submit" name="Dislike">Dislike</button>
                  <button class="btn btn-primary" type="submit" name="Editar">Editar</button>
                  <button class="btn btn-primary" type="submit" name="Comentar">Comentar</button>
                  <button class="btn btn-primary" type="submit" name="Eliminar">Eliminar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        {% endfor %}

  
      <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>

  {% endblock %}

  {% block menu %}
  
  <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link active" href="./index.php">Ver Incidencias</a></li>
          <li class="nav-item"><a class="nav-link" href="./NIncidencia.php">Nueva Incidencia</a></li>
          <li class="nav-item"><a class="nav-link" href="./MIncidencia.php">Mis Incidencia</a></li>
          <li class="nav-item"><a class="nav-link" href="./GUsuario.php">Gestion de Usuario</a></li>
          <li class="nav-item"><a class="nav-link" href="./VLog.php">Ver Log</a></li>
          <li class="nav-item"><a class="nav-link" href="./GBD.php">Gestion de Base de Datos</a></li>
          <form>
              <label class="sr-only" for="inlineFormInput">Usuario</label>
              <input type="text" class="form-control" id="inlineFormInput" placeholder="Jane Doe">
              <label class="sr-only" for="inlineFormInputGroup">Contraseña</label>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
              <button type="submit" class="btn btn-primary mb-2">Entrar</button>
              <button type="submit" class="btn btn-primary mb-2"><a class ="CrearUsuario" href="./CUsuario.php">Crear</a></button>

            </form>
  
      </ul>
    
      {% endblock %}
